<ion-view view-title="Dashboard">

  <ion-nav-buttons side="right">
    <div class="no-drag" >
      <button class="button icon ion-arrow-graph-up-right" ng-click="generateData();" ></button>

      <button class="button icon ion-ios-trash-outline" ng-click="deleteData();" ></button>
    </div>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="list card" ng-repeat="panel in panels" >
      <div class="item-divider-new {{panel.style}}"></div>
      <div class="item item-body item-icon-right font-{{panel.style}}">
        <div class="h3 font-{{panel.style}}">
          {{panel.title}}
        </div>
        <i class="icon ion-clipboard"></i>
      </div>
      <div class="item no-top-border">
        {{panel.content}}
      </div>      
    </div>

    <div class="list card" ng-if=" !panels" >
      <div class="item-divider-new assertive"></div>
      <div class="item item-body item-icon-right font-assertive">
        <div class="h3 font-assertive">
          Usage
        </div>
        <i class="icon ion-clipboard"></i>
      </div>
      <div class="item no-top-border">
        상단 버튼1 : 임시 Data 생성
        <br />
        상단 버튼2 : 모든 Data 삭제
      </div>    
    </div>

  </ion-content>
</ion-view>